.Effect {
    font-family: sans-serif;
    font-weight:800;
    font-size:150px;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:40vh;
    color: white;
}

.grupo-hover {
    position: relative;
    display: inline-block;
}

.nombre-certificado {
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.cuadro-certificado {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.grupo-hover:hover .cuadro-certificado {
    display: block;
}

.nombre-tema {
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.cuadro-tema {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 10;
    color: black;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    width: max-content;     
    height: auto;           
    min-width: 200px;
}

.grupo-hover:hover .cuadro-tema {
    display: block;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal__content {
  max-width: 400px;
  width: 90%;
}